  <!-- bottom bar -->
  <section class="bottom-bar">
    <div class="container">
          <div class="row">
                <div class="col-lg-4">
                  <h6>Contact Us</h6>
                  <p>Phone: <a href="tel:+1234567890">+91 7842443888</a></p>
                  <p>Email: <a href="mailto:info@example.com">vijaymahanthi0520@gmail.com</a></p>
                  <p>Instagram: <a href="https://instagram.com/yourusername" target="_blank">@knowyourcibo</a></p>
                </div>
          </div>
    </div>

    <!-- copyright -->
    <div class="copyright">© 2024 by KnowYourCibo. All rights reserved.</div>
</section>