body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #B5C0D0;

}

.container {
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 76vw;
    min-height: 70vh;
    display: flex;
}

label {
    display: block;
    margin-bottom: 10px;
    color: grey;
    font-size: medium; /* Increased for better readability */
}

input[type=email], input[type=password], input[type=text] {
    width: 100%;
    padding: 12px; /* Increased padding for larger input fields */
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Subtle border */
    border-radius: 5px;
}

button {
    width: 60%; /* Full width button */
    background-color: black;
    color: #fff;
    padding: 12px 20px;
    border: none;
    font-size: 16px; /* Larger font size */
}

button:hover {
    background-color: grey;
    cursor: pointer;
}

#message {
    color: red;
    margin-top: 20px;
}

#pageInfo {
    color: orange;
    margin-bottom: 20px; /* Added margin for spacing */
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* More responsive on smaller screens */
    }
}

.left{
  width: 36vw;
  min-height: 70vh;
  background-image: url("forgotimages/forgot.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.right{
  width: 40vw;
  min-height: 70vh;
  padding: 25px;
}

.btn{
  width: auto;
  height: 6vh;
}
.message-box {
    display: none; 
  position: fixed;
  top: 5px; 
  right: 5px;
  z-index: 1050;
  background: white; 
  color: black; 
  border: 1px solid #ccc; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  max-width: 300px; 
  }
  
  .message-box p {
    margin: 0 0 20px;
    font-size: 18px; font-family: 700;
  }
  
  .message-box button {
    padding: 10px 20px;
    font-size: 16px; background-color: var(—backgroundcolor);
  }
  .message-box1 {
   display: none; 
  position: fixed;
  top: 5px; 
  right: 5px;
  z-index: 1050;
  background: white; 
  color: black; 
  border: 1px solid #ccc; 
  padding: 10px 20px; 
  border-radius: 5px; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  max-width: 300px; 
  }
  
  .message-box1 p {
    margin: 0 0 20px;
    font-size: 18px; font-family: 700;
  }
  
  .message-box1 button {
    padding: 10px 20px;
    font-size: 16px; background-color: var(—backgroundcolor);
  }
