
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #B4B4B8;
    font-family: Montserrat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  a{
    text-decoration: none;
  }

  .container {
    min-height: 70vh;
    width: 78vw ;
    font-weight: 600;
    display: flex;

  }

  .w-50 {
    width: 35vw;
    margin-top: 5vh;
    background-color: white;
    padding: 25px;
    margin-left: 5vw;
  }

  .container .w50 h3{
    color: black;
    text-align: center;
  }

  .form-label {
    font-weight: 700;
  }

  .btn {
    width: 100px;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .btn :hover {
    border: 2px solid whitesmoke;
    background-color: whitesmoke;
    color: black;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.2s ease-in-out;
  }

  .mb-3{
    font-weight: 500;
    margin-top: 10px;
  }

  @media only screen and (max-width: 600px) {
    .w-50 {
        width: 100% !important;
        left: 0 !important;
    }
  }

  .left{
    width: 37vw;
    min-height: 70vh;
    background-image: url("authenticationImages/b1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-position: center;
  }

  .right{
    width: 41vw;
    min-height: 70vh;
    background-color: white;
    height: auto;
    justify-content: center;
    align-items: center;

  }

  #login{
    height: 40px;
    margin-right: 5vw;
  }

.form-control,
hr{
  width: 23vw;
}

.d-block{
  font-size: 12px;
  left: 67.5%;
  position: absolute;
  padding-top: 10px;
}

.ms-auto{
  font-size: 12px;
  position: absolute;
  left: 65.5%;
  padding-top: 17px;
}
/* Style the toggle button */
.toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Adjust layout */
.form-control,
hr,
.password-toggle {
  width: 23vw;
  position: relative;
}

.d-block,
.ms-auto {
  font-size: 12px;
  position: absolute;
  padding-top: 10px;
}

.ms-auto {
  left: 65.5%;
  padding-top: 17px;
}

